{% extends 'base.html' %}

{% block title %}Services - FlyEdu Abroad{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <h1>Our Services</h1>
            <ul>
                <li>University Selection & Admissions</li>
                <li>Visa Guidance</li>
                <li>Scholarship Assistance</li>
                <li>IELTS/TOEFL Preparation</li>
                <li>Pre-Departure Briefing</li>
            </ul>
        </div>
    </section>
{% endblock %}